@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    background: #f1f1f1;
    font-family: 'Quicksand' , sans-serif;
}

.info{
    width: 350px;
    height: max-content;
}

.info h2{
    text-align: left;
}

.img-box{
    width: 100%;
    height: 300px;
}

.img-box img{
    width: 350px;
    height: 200px;   
}

.img-box button{
    width: max-content;
    padding: 15px 35px;
    border-radius: 5px;
    border-style: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}